body { font-family: Helvetica; font-size: 12pt; }

code.language-r { font-family: 'Fira Code', Courier; font-size: 16px; }
#input { font-family: 'Fira Code', Courier; font-size: 16px;}

#rconsole { font-family: Courier; }
pre { margin: 0 }
#input { 
    /* position: absolute; */
    /* min-height: 100px; */
    width: 100%;
    border-left: solid red 10px;
    margin-top: 5px;
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
}

.fixed-height-container {
    max-height: 95vh;
    overflow: auto;
    /* border: 1px solid red; */
}

#tabbed-container {
    width: 38%;
    float: right;
}

#rconsole-container {
    width: 60%;
}

#rconsole, #logmessages {
    width: 100%;
}

/* individual output chunks */
.outchunk {
    max-height: 75vh;
    width: 95%;
    overflow: auto;
    /* border: 1px solid red; */
}

